In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.DataFrame({'Name':['Сергей','Дарья','Инга','Наташа'],'Фамилия':['Воронин','Балюк','Калиева','Дребезова']})
print(df)

     Name    Фамилия
0  Сергей    Воронин
1   Дарья      Балюк
2    Инга    Калиева
3  Наташа  Дребезова

In [7]:
df['Возраст']=[31,26,43,12]
df

     Name    Фамилия  Возраст
0  Сергей    Воронин       31
1   Дарья      Балюк       26
2    Инга    Калиева       43
3  Наташа  Дребезова       12

Создайте другую таблицу со знаками зодиака по id

In [15]:
ZODIAC_SIGNS = [
    "Aries",
    "Taurus",
    "Gemini",
    "Cancer",
    "Leo",
    "Virgo",
    "Libra",
    "Scorpio",
    "Sagittarius",
    "Capricorn",
    "Aquarius",
    "Pisces"
]
zodiac=pd.DataFrame({'Зодиак':ZODIAC_SIGNS})
zodiac

         Зодиак
0         Aries
1        Taurus
2        Gemini
3        Cancer
4           Leo
5         Virgo
6         Libra
7       Scorpio
8   Sagittarius
9     Capricorn
10     Aquarius
11       Pisces